<script type="text/javascript" src="{{ site.github.url }}/assets/js/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    if (navigator.userAgent.match(/Tablet|iPad/i)) {
      $("#top-social-icons").hide();
    }
    else if(navigator.userAgent.match(/Mobile|Windows Phone|Lumia|Android|webOS|iPhone|iPod|Blackberry|PlayBook|BB10|Opera Mini|\bCrMo\/|Opera Mobi/i) ) {
      $("#top-social-icons").hide();
    }
    else {
      $("#top-social-icons").show();
    }
  });
</script>
